body {
    background-color: black;
    display: flex;
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
    @media (width < 44.625rem) {
        flex-direction: column;
    }
}

.button {
    height: 10.25rem;
    width: 20.75rem;
    margin: 1rem;
    text-align: center;
    border: 1px solid white;
    font-family: monospace;
    font-size: 2.75rem;
    
}

a {
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: white;
    color: black;
}

