body {
    background-color: black;
    display: flex;
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button {
    margin: 1rem;
    text-align: center;
    border: 1px solid white;
    font-family: monospace;
    font-size: 1.75rem;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    text-decoration: none;
    border: 0.5rem solid transparent;
}

a:hover, .button:hover {
    background-color: white;
    color: black;
}