body {
  background-color: black;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbar {
  position: fixed;
  width: 18.75rem;
  height: 100%;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
}

.logo {
  font-size: 3rem;
  color: orange;
  text-align: center;
}

#main-doc {
  position: absolute;
  margin-left: 19.375rem;
  padding: 1.25rem;
  margin-bottom: 110px;
}

@media only screen and (max-width: 815px) {

  /* For mobile phones: */
  #main-doc {
    position: relative;
    left: 0px;
    /* width: 100%; */
    margin-left: 0px;
    margin-top: 270px;
  }

  #navbar {
    /* background-color: white; */
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    border-bottom: 2px solid rgba(0, 22, 22, 0.4);
  }

  #navbar ul {
    text-align: center;
    height: 207px;
  }
}