body {
  background-image: url("https://images.unsplash.com/photo-1489648022186-8f49310909a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2110&q=80");
  color: white;
  font-family: 'Roboto', sans-serif;
  /* padding: 1rem; */
}

main {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 1rem;
  width: 75vw;
  margin: auto;
  padding: 1.25rem;
  min-width: 18.125rem;
}

#title {
  text-align: center;
  color: orange;
  font-size: 3rem;
  margin: 1rem;
}

#title+p {
  text-align: center;
  margin: 0rem
}

#img-div {
  text-align: center;
  margin: 2rem
}

#image {
  display: block;
  margin: auto;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  max-width: 100%;
}

h2 {
  text-align: center;
  font-size: 1.25rem;
}

li {
  margin: 1rem auto
}

#tribute-info {
  /* border: 2px solid white; */
  padding: 0 10rem
}

