body{
    background-color: black;
    color: white;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::selection {
    background: orange;
    color:white;
  }

header {
    position: sticky;
    top: 0;
    padding: 8px;
    border-color: rgba(0, 22, 22, 0.4);
    background-color: rgb(24, 24, 24);
    display: flex;
    justify-content: space-around;
}

#nav-bar {
    display: flex;
}

.logo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5rem;
    color: orange;
}

#header-img {
    height: 2rem;
}

#nav-bar ul {
    display: flex;
    margin: auto;
    list-style: none;
    padding: 0px;
}

#nav-bar ul li {
    margin: 10px
}

#nav-bar ul li a {
    text-decoration: none;
    color: white;
}

#nav-bar ul li a:hover {
    color: orange;
}

.landing-content{
    margin-bottom: 80px;
}

.landing-content > h1 {
    text-align: center;
    font-size: 6rem;
    color: transparent;
    text-shadow:  orange 1px px;
    background: linear-gradient(319deg, #faff00 0%, #ff1000 67%, #ff6a00 100%);
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 25px;
}

.dockVind-logo {
    color: orange;
}

.landing-content p {
    text-align: center;
    font-size: 1.2rem;
}

section {
    border-top: 1px solid rgb(24, 24, 24);
}

#features {
    padding: 16px;
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
}

#features div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
}

#features img {
    height: 3rem;
}

#features p {
    padding-left: 10px;
    padding-right: 10px;
}

#updates div{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    text-align: center;
    margin: auto;
    padding: 25px;
}

#form {
    width: 100%;
}

#email {
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 2px solid white;
    width: 100%;
    font-size: 1rem;
    padding: 5px;
}

#email:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid orange;
}

#submit {
    display: block;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    padding: 10px;
    margin: 20px auto;
    border: 2px solid white;
    /* border-radius: 7px; */
}

#submit:hover {
    background-color: white;
    color: black;
}

#submit:active {
    background-color: orange;
    color: white;
    border: 2px solid orange;
}

#examples {
    text-align: center;
}

#examples p {
    padding: 25px;
}

#video {
    width: 75vw;
    height: 37.5vw;
    margin-bottom: 35px;
}

#pricing>div{
    width: 75vw;
    margin: auto;
}

#pricing h1 {
    text-align: center;
}

.price-cards {
    display: flex;
    justify-content: space-around;
}

.price-card {
    flex: 1;
    margin: 20px;
    padding: 20px;
    border: 2px solid white;
}

.tier {
    font-size: 2rem;
    background: linear-gradient(90deg, transparent 60%, orangered);
}

footer {
    background-color: rgb(24, 24, 24);
    border-color: rgba(0, 22, 22, 0.4);
    text-align: center;
    padding: 50px
}

@media only screen and (max-width: 660px) {
    #header {
        flex-direction: column;
        align-items: center;
    }

    #nav-bar {
        flex-direction: column;
        margin: 10px auto;
        font-size: 1.1rem;
        text-align: center;
    }

    #nav-bar ul {
        flex-direction: column;
        
    }

    #nav-bar ul li {
        margin: 0px auto;
    }

    .landing-content h1 {
        font-size: 5rem;
    }
}

@media only screen and (max-width: 830px) {
    #features {
        flex-direction: column;
    }
}

@media only screen and (max-width: 1030px) {
    .price-cards {
        flex-direction: column;
    }
}